<div class="rooms-container">
  <mat-card>
    <mat-card-content>
      <h2>Available rooms</h2>
      <button *ngFor="let roomId of rooms$ | async"
              (click)="joinRoom(roomId)"
              mat-raised-button
              color="primary"
              [style.marginBottom]="'8px'"
              [style.width.%]="100"
              [style.textAlign]="'left'"
      >
        Join room: {{ roomId }}
      </button>
      <h2 [style.marginTop]="'16px'">OR</h2>
      <button mat-raised-button color="accent" (click)="createNewRoom()" [style.width.%]="100">Create New Room</button>
    </mat-card-content>
  </mat-card>
</div>
