<mat-sidenav-container class="sidenav-container">
  <mat-sidenav class="sidenav" fixedInViewport
      [attr.role]="'navigation'"
      [mode]="'side'"
      [opened]="true">
    <mat-toolbar>Menu</mat-toolbar>
    <mat-nav-list>
      <a mat-list-item href="#">Link 1</a>
      <a mat-list-item href="#">Link 2</a>
      <a mat-list-item href="#">Link 3</a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <span>client</span>
    </mat-toolbar>
    <!-- Add Content Here -->
    <video #localVideo autoplay></video>
    <video #remoteVideo autoplay></video>
    1<pre>{{ socket.clients | json }}</pre>
    2<pre>{{ socket.peerMediaElements | json }}</pre>
    3<pre>{{ socket.localMediaStream | json }}</pre>
  </mat-sidenav-content>
</mat-sidenav-container>
