<mat-sidenav-container class="sidenav-container">
  <mat-sidenav class="sidenav" fixedInViewport
      [attr.role]="'navigation'"
      [mode]="'side'"
      [opened]="true">
    <mat-toolbar>Menu</mat-toolbar>
    <mat-nav-list>
      <a *ngFor="let user of users" mat-list-item (click)="callUser(user)">{{ user }}</a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <span>client</span>
    </mat-toolbar>
    <!-- Add Content Here -->
    <video #localVideo autoplay [volume]="0"></video>
    <video #remoteVideo autoplay></video>
  </mat-sidenav-content>
</mat-sidenav-container>
